/.vscode
/animated scroll
/blurry loading
/dad jokes
/drink water
/expanding cards
/Form wave
/hidden searchbar
/Progress steps
/readme.md
/rotating nav
/scroll-animation
/sound board
/split_landing_page